.divider {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	padding: 27px 18px;
}

.divider-style {
	width: 100%;
	height: 1px;
}

.dashboard-container {
	display: flex;
	height: 100vh;
	width: 100%;
}

/* Sidebar */

.dashboard-side-nav {
	flex: 1;
	background-color: var(--light-blue);
	overflow: auto;
}

.side-nav-logo {
	display: flex;
	flex-direction: row;
	justify-content: center;
	/* margin: 18px 0; */
	margin-top: 27px;
}

.side-nav-icon {
	margin-right: 9px;
	height: 50px;
	width: 50px;
}

.side-nav-link-items {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px 18px;
}

.side-nav-link-items > li {
	margin: 9px 9px;
}

.side-nav-link-items > li > a {
	color: var(--light-text-color);
	cursor: pointer;
}

.side-nav-link-items > li :hover {
	color: var(--light-gray);
}

.item-icon {
	margin-right: 18px;
}

/* Main */

.dashboard-main {
	display: flex;
	flex-direction: column;
	flex: 3.5;
	background-color: green;
	border: 15px solid purple;
}

.main-nav {
	flex: 1.5;
	background-color: gray;
	border: 15px solid cyan;
}

.nav-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	padding: 0 15px;
}

/* Main__Search-Bar */

.search-bar-container {
	display: flex;
	align-items: center;
	flex: 1;
	background-color: darkgoldenrod;
	height: 27px;
}

.search-box {
	flex: 2.3;
}

.search-box > div {
	display: flex;
	align-items: center;
}

.search-box-icon {
	padding-top: 5px;
	margin-right: 9px;
	width: 27px;
	height: 27px;
}

.search-input {
	width: 88%;
	height: 36px;
	border-radius: 18px;
}

.notifications-box {
	flex: 1.7;
	background-color: darkblue;
	height: 100%;
}

.notification-items-container {
	display: flex;
	align-items: center;
	height: 100%;
	width: 80%;
}

.notification-item {
	display: flex;
	justify-content: flex-end;
	flex: 1;
}

.notification-box-icon {
	width: 18px;
	height: 18px;
}

/* Main__Widgets and Buttons */
.widgets-bar-container {
	display: flex;
	align-items: center;
	flex: 1;
	background-color: crimson;
	height: 27px;
}

.nav-container-profile {
	display: flex;
}

.main-content {
	flex: 3;
	background-color: yellow;
	border: 15px solid yellowgreen;
	max-height: 396px;
	overflow: auto;
}

.content-layout {
	display: flex;
}

.layout-grid {
	flex: 3;
	background-color: yellow;
	border: 15px solid plum;
	overflow: auto;
}

.layout-aside {
	flex: 1.5;
	background-color: gray;
	border: 15px solid cyan;
}

.grid-items {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 18px;
	margin: 18px;
}

.grid-item-card {
	height: 180px;
	width: 100%;
	background: aquamarine;
}

/* Footer */

.dashboard-footer {
	grid-area: footer;
	background-color: #f6f8fa;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

/* Scrollbar */
::-webkit-scrollbar {
	width: 9px;
}
::-webkit-scrollbar-track {
	background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 90px;
}
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
